<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Pantry</title>
  </head>
  <body>
    <%- include('../partials/_navbar.ejs') %>
    <h1>Welcome to my Pantry</h1>
    <a href="/users/<%= user._id %>/foods/new">Add New Item</a>
    <% if (pantry.length > 0) { %>
      <h2>Your Pantry</h2>
      <ul>
        <% pantry.forEach((food) => { %>
          <li>
            <a href="/users/<%= user._id %>/foods/<%= food._id %>/edit"><%= food.name %></a>
            <p> <strong>Cuisine: </strong> <%= food.cuisine %></p>
            <p> <strong>Calories: </strong> <%= food.calories %></p>
            <form action="/users/<%= user._id %>/foods/<%= food._id %>?_method=DELETE" method="POST">
              <button type="submit">Delete</button>
            </form>
          </li>
        <% }) %>
      </ul>
    <% } else { %>
      <h2>There are no items in this pantry.</h2>
    <% } %>
  </body>
</html>