<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View <%= user.username %> Pantry</title>
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
    <h1>View <%= user.username %> Pantry</h1>
    <!-- 
      name: {
    type: String,
    required: true,
    },
    cuisine: {
        type: String,
        required: true,
    },
    calories: {
        type: Number,
        required: true,
    },
    -->
    <ol>
        <% user.pantry.forEach((item) => { %>
            <li>
                <h2><%= item.name %></h2>
                <p><strong>Cuisine: </strong> <%= item.cuisine %></p>
                <p><strong>Calories: </strong><%= item.calories %></p>
            </li>
        <% }); %>
    </ol>
</body>
</html>